<!DOCTYPE html>
<html lang="en">
<%-include('./templates/header.ejs')%>
<body>
    
    <div class="container">
        <h1 class="text-center">Menú de alimentos</h1>


        <!-- SE VERIFICA QUE EL JSON TENGA DATOS -->
        <%if(dishes.length > 0 ){%>
            <div class="row row-cols-3">

                <!-- SE MAPEAN TODOS LOS DATOS DEL JSON -->
                <%dishes.forEach(function(dish){%>

                    <!--TARJETAS DE CADA PLATO-->
                    <div class="card col m-3 text-center" style="width: 18rem;">
                        <img src="<%=dish.image%>" class="card-img-top" alt="<%=dish.name%>">
                        <div class="card-body">
                        <h5 class="card-title"><%=dish.name%></h5>
                        <p class="card-text">Precio: $<%=dish.price%>  COP</p>
                        <a href="#" class="btn btn-danger">Eliminar</a>
                        </div>
                    </div>
                <% }); %>
            </div>
        <%}else{%>
            <h2>No hay articulos en el menú</h2>
        <%}%>

    </div>
    
    <!--FOOTER QUE EJECTURA UN SCRIPT PARA EL BOOTSTRAP-->
    <%-include('./templates/footer.ejs')%>
</body>
</html>