<!DOCTYPE html>
<html lang="en">
<%-include('./templates/header.ejs')%>
<body>
    
    <div class="container ">
        <h1 class="text-center mt-3">MENÚ</h1>

        <a href="/add" class="btn-secondary btn mt-2 mb-4">Agregar un nuevo plato</a>

        <!-- SE VERIFICA QUE EL JSON TENGA DATOS -->
        <%if(dishes.length > 0 ){%>
            <div class="justify-content-center">
                <h2>ENTRADAS</h2>
                <div class="row row-cols-3 justify-content-center">
                    <!-- SE MAPEAN TODOS LOS DATOS DEL JSON -->
                    <%dishes.forEach(function(dish){%>

                        <!--TARJETAS DE CADA PLATO-->
                        <% if (dish.type == "Entrada") {%>
                            <div class="card col m-3 text-center" style="width: 18rem;">
                                <img src="<%=dish.image%>" class="card-img-top" alt="<%=dish.name%>">
                                <div class="card-body">
                                    <h5 id="name" class="card-title"><%=dish.name%></h5>
                                    <p class="collapse" id="description"><%=dish.description%></p>
                                    <p class="card-text">Precio: $<%=dish.price%>  COP</p>
                                    <div class="row">
                                        <button id="btnEliminar" onclick="eliminar(<%=dish.id%>)" class="col m-1 btn btn-danger">Eliminar</button>
                                        <a class="col m-1 btn btn-success" data-bs-toggle="collapse" href="#description" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            Descripción
                                        </a>
                                    </div>  
                                </div>
                            </div>
                        <% } %>
                    <% }); %>
                </div>
                <h2>PLATOS FUERTES</h2>
                <div class="row row-cols-3 justify-content-center">
                    <!-- SE MAPEAN TODOS LOS DATOS DEL JSON -->
                    <%dishes.forEach(function(dish){%>

                        <!--TARJETAS DE CADA PLATO-->
                        <% if (dish.type == "Principal") {%>
                            <div class="card col m-3 text-center" style="width: 18rem;">
                                <img src="<%=dish.image%>" class="card-img-top" alt="<%=dish.name%>">
                                <div class="card-body">
                                    <h5 id="name" class="card-title"><%=dish.name%></h5>
                                    <p class="collapse" id="description"><%=dish.description%></p>
                                    <p class="card-text">Precio: $<%=dish.price%>  COP</p>
                                    <div class="row">
                                        <button id="btnEliminar" onclick="eliminar(<%=dish.id%>)" class="col m-1 btn btn-danger">Eliminar</button>
                                        <a class="col m-1 btn btn-success" data-bs-toggle="collapse" href="#description" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            Descripción
                                        </a>
                                    </div>  
                                </div>
                            </div>
                        <% } %>
                    <% }); %>
                </div>
                <h2>POSTRES</h2>
                <div class="row row-cols-3 justify-content-center">
                    <!-- SE MAPEAN TODOS LOS DATOS DEL JSON -->
                    <%dishes.forEach(function(dish){%>

                        <!--TARJETAS DE CADA PLATO-->
                        <% if (dish.type == "Postre") {%>
                            <div class="card col m-3 text-center" style="width: 18rem;">
                                <img src="<%=dish.image%>" class="card-img-top" alt="<%=dish.name%>">
                                <div class="card-body">
                                    <h5 id="name" class="card-title"><%=dish.name%></h5>
                                    <p class="collapse" id="description"><%=dish.description%></p>
                                    <p class="card-text">Precio: $<%=dish.price%>  COP</p>
                                    <div class="row">
                                        <button id="btnEliminar" onclick="eliminar(<%=dish.id%>)" class="col m-1 btn btn-danger">Eliminar</button>
                                        <a class="col m-1 btn btn-success" data-bs-toggle="collapse" href="#description" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            Descripción
                                        </a>
                                    </div>  
                                </div>
                            </div>
                        <% } %>
                    <% }); %>
                </div>
            </div>
        <%}else{%>
            <h2>No hay articulos en el menú</h2>
        <%}%>

    </div>
    

    <script src="delete.js"></script>
    <!--FOOTER QUE EJECTURA UN SCRIPT PARA EL BOOTSTRAP-->
    <%-include('./templates/footer.ejs')%>
</body>
</html>